.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
    padding: 8rem;

    &__text {
        margin-top: 6rem;
        color: $color-grey-light-2;
        font-size: 1.4rem;
        text-align: center;
        width: 75%;
        margin: 6rem auto 0 auto;
    }
}

.navigation {

    list-style: none;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    align-items: center;
    grid-gap: 2rem;


    &__link {
        &:visited,
        &:link {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            font-family: $font-display;
            text-align: center;
            padding: 1.5rem;
            display: block;
            transition: all .3s;
        }

        &:hover {
            background-color: rgba(#fff, .05);
            transform: translateY(-5px);
        }
    }
   
}