.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
    padding: 3rem;
    display: grid;
    grid-template-rows: min-content min-content;
    grid-row-gap: 2rem;
    align-content: center;
    justify-content: center;
    justify-items: center;

    @media only screen and (max-width: $bg-medium) {
        grid-column: 1 / -1;
    }


    &__list {

        display: grid;
        grid-template-columns: min-content max-content;
        align-items: center;
        grid-column-gap: 2rem;
        grid-row-gap: 2vw;
        
        @media only screen and (max-width: $bg-medium) {
            grid-template-columns: repeat(6, min-content max-content);
        }

        @media only screen and (max-width: $bg-small) {
            grid-template-columns: min-content max-content;
        }

        img {
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            display: block;
        }
    }

    &__details {

        p {
            color: $color-grey-light-2;
            text-transform: uppercase;
            margin-top: 3px;
        }
    }
}