.sidebar {
    background-color: $color-primary;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    text-align: center;

    @media only screen and (max-width: $bg-medium) {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        text-align: right;
    }
}

.navigation-btn {

    width: 4.5rem;
    height: 2.5px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    margin-top: 4rem;

    &::after,
    &::before {
        content: "";
        position: absolute;
        background-color: #fff;
        display: inline-block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    &::before {
        transform: translateY(-1.5rem);
    }

    &::after {
        transform: translateY(1.5rem);
    }


    @media only screen and (max-width: $bg-medium) {
        margin: 3rem 2rem 0 0;
        &::before {
            transform: translateY(-1rem);
        }
    
        &::after {
            transform: translateY(1rem);
        }
    }
}